:root{
    --color-accent: #ffd700;
    --bg-color:#c8ece3;
    --color-primary:#0a1f11;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper{
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5rem 5rem 5rem;
}
.title{
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    color: var(--color-accent);
    font-size: 3rem;
}
.container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
}
.element{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.right {
    align-items: flex-start;
    position: relative;
}
.qr, .text{
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    aspect-ratio: 1/1;
    gap: .5rem;
    background-color: #426a6c95;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #fffa;
}
.text{
    justify-content: space-evenly;
    position: sticky;
    top: 10vh;
}
.qr{
    border-radius: 2rem;
    box-shadow: 0 0 1rem #fffa;
    
}
.qr img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 3rem;
}

.text-title, .text-content, #element{
    color: #fff;
    width: 100%;
    text-align: center;
}
.text-title{
    font-size: 3rem;
}
.footer{
    max-width: 100%;
}
#element{
    text-align: left;
    margin-left: 10%;
}
.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.file, .whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.file::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.whatsapp-button {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
    position: relative;
    z-index: 2;
}

.whatsapp-button img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.whatsapp-button:hover,
.file:hover {
    background-color: #126C5E;
}

.file:hover::after,
.whatsapp-button:hover img::after {
    opacity: 1;
}

.whatsapp-button:hover img {
    filter: brightness(0);
}


.mensaje {
    width: 100%;
}
.inputs{
    margin-top: 1rem;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: vertical;
    min-height: 100px;
    background-color: #333a;
    color: #fff;
    font-size: 16px;
}
textarea:focus {
    outline: none;
    box-shadow: 0 0 .2rem #fffa;
}

textarea::placeholder {
    color: #fff;
    opacity: 0.7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.return {
    position: absolute;
    top: 100px;
    left: 20px;
}

.return a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333a;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.return a:hover {
    background-color: #555a;
}
