:root{
    --bg-main-window:#000f;
    --bg-form: #8885;
    --border-form: #888f;
    --color-form:#fff;
    --bg-form-input:#000a;
    --bg-form-input-hover:#000.5;
    --color-text:#fff;
    --color-text-hover:#ccc;
    --bg-color:#676f67cc;
    --color-primary:#0a1f11;
    
}
*{
    box-sizing: border-box;
    font-family: "Poppins", "Montserrat", "my-font", "sans-serif";
    margin: 0;
}
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: -10;
    justify-content: center;
}
.background img{
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: .1;
}
.background::before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-window);
    position: absolute;
}
.login-container{
    width: clamp(35%, 1100px, 80%);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 0rem;
    position: relative;
    background-color: var(--bg-form);
    border: 1px solid #fff5;
    border-radius: 4rem;
}


.login-container__form{
    padding: 4rem;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
    flex: 1;
    position:relative;
}

.login-container__form::after {
    content: "";
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--border-form);
    opacity: .5;
    filter: blur(30px);
    z-index: -1;
}


h1{
    width: max-content;
}
.login-container__form__title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color-form);
}
.login-container__form__input{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 0px;
}
.login-container__form__input label{
    width: 100%;
    display: block;
    text-transform: uppercase;
    padding: 0rem 0 0 1rem;
    color: var(--color-form);
    margin: 40px 0 5px 0;
}

.login-container__form__input input, .login-container__form__input select{
    width: 100%;
    background-color: var(--bg-form-input);
    display: block;
    border-radius: 20px;
    padding: 1rem;
    color: var(--color-text);
}
.login-container__form__input input:focus{
    outline: none;
}

.down-part{
    display: flex;
    gap: 7px;
    justify-content: center;
}
.form-button{
    width: 45% !important;
    color: var(--color-text);
    transition: background .5s;
}
.form-button:hover{
    cursor: pointer;
    background-color: var(--bg-form-input-hover);
}
.form-link{
    display: block;
    width: max-content;
    color: var(--color-text);
    margin-top: 20px;
}
.form-link:hover{
    color: var(--color-text-hover);
}
.form-link:active{
    text-decoration: none;
}
.login-select{
    background-color: var(--bg-form-input);
}
.img-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.img-container img{
    width:clamp(50%, 500px, 80%);
    filter: grayscale(.4) drop-shadow(1px 1px 7px var(--bg-form));   
    position: sticky;
    top: 25vh;
}
.login-container__form__input--var{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr max-content;
}
.form-part{
    min-height: 100%;
    padding: 1rem 0;
}
.form-part label{
    padding: 1rem 0 1rem 1rem;
    display: block;
}
.form-part select{
    appearance: none;
    outline: none;
}
select option{
    background-color: #0000;
    font-size: 1rem;
}
.return {
    position: absolute;
    top: 20px;
    left: 20px;
}

.return a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333a;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.return a:hover {
    background-color: #555a;
}
.remember-container{
    display: flex;
    width: 100%;
    justify-content: left;
    user-select: none;
}
.remember-container label{
    width: max-content;
    padding: 0 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}
.remember-container input{
    display: none;
}
#additional-label {
    background-color: var(--bg-form-input);
    padding: .8rem;
    border-radius: 50%;
    filter:drop-shadow(0 0 10px var(--color-form));
    position: relative;
}
#additional-label::after{
    content: "";
    width: 55%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 55%;
    position: absolute;
    border-radius: 50%;
    display: none;
    background-color: #fffc;
}
.remember-container input:checked ~ #additional-label:after {
    display: block;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Ocultar mensajes por defecto */
  }

  .error-message.active {
    display: block; /* Mostrar mensaje cuando tiene la clase "active" */
  }