@import url('../fonts/fonts.css');
:root{
    --color-0:#CCFFC0;
    --color-1:#D5F1DF;
    --color-2:#A0DFB6;
    --color-3:#5FC984;
    --color-4:#36A05B;
    --color-5:#216238;
    --color-6:#1C5430;
    --color-7:#1B502E;
    --color-8:#164125;
    --color-9:#0F2E1A;
    --color-a:#0A1F11;
    --color-bg: #fff;
    --width-logo: clamp(200px, 225px, 250px);
    --color-a-navbar:#c4ff9e;
    --color-a-navbar-hover:#74ff5e;
    --bg-header: #2c5920;
    --bg-sidebar-item-hover:#494;
    --bg-button:#5b663d;
}
div,input,main,nav,ul,li,section,footer,aside,picture,figure,html,body{
    margin: 0;
    padding: 0;
}
/*HEADER START-CODE*/
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-header);
    z-index: 10;
    overflow: hidden;
}
.header-wrapper{
    width: clamp(250px, 100vw, 1900px);
    display: grid;
    grid-template-areas: 
    "logo content-header content-header content-header content-header"
    "logo nav-search nav-search nav-search nav-search";
    padding: 0 5px;
}
.header__container-content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 8px;
    gap: 5px;
}
.logo-container{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-picture source, .logo-picture img{
    width: 150px;
    filter: drop-shadow(2px 2px 5px #000);
}
/*SEARCH NAV CODE START*/
.search-nav{
    grid-area: nav-search;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-nav form{
    padding: 8px 90px;
    border-radius: 10px;
    min-width: max-content;
    display: flex;
    align-items: center;
}
/*SEARCH NAV CODE END*/
.menu-navbar-container {
    grid-area: content-header;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.menu-navbar-container .menu-navbar-container__ul {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100%;
    gap: 5px;
}
.container__division-ul__list{
    list-style: none;
    width: 100%;
    height: 100%;
}
.navbar-items-list{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 5px 1%;
    flex-wrap: wrap;
    align-items: start;
}
.navbar-item {
    min-width: 80px;
    display: flex;
    text-align: center;
    border-radius: 7px;
    text-transform: uppercase;
}
.navbar-item a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-a-navbar);
    justify-content: center;
    flex:1;
}
.navbar-item a:hover{
    color: var(--color-a-navbar-hover);
}
.navbar-item a:before{
    content: "";
    height: 2px;
    top: 1.3rem;
    position: relative;
    background-color: var(--color-a-navbar-hover);
    width: 0;
}
.navbar-item a:hover:before {
    animation: link-movement .2s both;
}
.icon-navbar-usser{
    font-size: 2.5rem;
}
.icon-navbar-usser:before{
    display: none;
}
@keyframes link-movement {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
/*HEADER-END-CODE*/
/*HEADER-QUERIES-START*/
@media screen and (max-width:950px){
    .menu-navbar-container{
        display: none;
    }
}
/*HEADER-QUERIES-END*/
/*SIBAR-NAV-START-CODE*/
#open-menu, .sidebar-wrapper{
    display: none;
}
.sidebar__form{
    right: 0;
    top: 10px;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    box-shadow: 7px -3px 5px #000;
}
.sidebar-wrapper:has(#open-menu:checked) .sidebar{
    animation: sidebar-open .4s linear both;
}
.sidebar-wrapper:has(#open-menu:not(:checked)) .sidebar{
    animation: sidebar-close .4s linear both;
    animation-delay: -.5s;
}
#open-menu:checked ~ .open-button {
    display: none;
}
#open-menu:not(:checked) ~ .close-button {
    display: none;
}
.close-button{
    transform: rotate(180deg);
}
.open-button,
.close-button {
    background-color: var(--bg-button);
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    user-select: none;
    font-size: 2rem;
    top: 200px;
    color: var(--color-arrow-button);
}
html:has(#open-menu:checked){
    overflow: hidden;
}
.sidebar__form:has(#open-menu:checked){
    animation: button-movement-close .41s linear both;
}
.sidebar__form:has(#open-menu:not(:checked)){
    box-shadow: -7px 3px 5px #000;
    animation: button-movement-open .41s linear both;
    animation-delay: -.5s;
}

.sidebar {
    position: fixed;
    width: clamp(300px, 5vw, 900px); 
    right: clamp(-300px, -30vw, -900px);
    justify-content: right; 
    min-height: 100dvh;
    top: 0px;
    background-color: var(--bg-header);
    border-radius: 25px 0 0 25px;
    padding: 40px 20px 40px 0;
    box-shadow: -7px 3px 5px #000;
    overflow-y: auto;
    color: var(--color-a-navbar);
}
@keyframes button-movement-close {
    0%{
        right:-15px;
    }
    100%{
        right: clamp(270px, 29vw, 900px);
    }
}
@keyframes button-movement-open {
    0%{
        right: clamp(270px, 29vw, 900px);
    }
    100%{
        right: -15px;
    }
}
@keyframes sidebar-open {
    0%{
        right: clamp(-300px, -30vw, -900px);
    }
    100%{
        right: 0;
    }
}
@keyframes sidebar-close {
    0%{
        right:0;
    }
    100%{
        right: clamp(-300px, -30vw, -900px);
        box-shadow: none;
    }
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 91dvh;
    color: inherit;
}
.item-sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    transition: background-color .09s ease;
    color: inherit;
}
.item-sidebar:first-child{
    border-top-left-radius: 20px;
}
.item-sidebar:last-child{
    border-bottom-left-radius: 20px;
}
.item-sidebar:hover{
    background-color: var(--bg-sidebar-item-hover);
    color: var(--color-a-navbar-hover);
}
.list-property-size{
    padding: 5px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: inherit;
}
.list__icon {
    justify-content: right;
    padding: 0px 0 9px 0;
    min-width: 0;
    color: var(--color-a-navbar);
}
.material-symbols-outlined{
    text-decoration: none;
}
.list__option-text {
    justify-content: left;
    padding-left: 20px;
    min-width: 0;
    color: inherit;
}
.content-list {
    height: 100%; 
    width: max-content;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: inherit;
}

.sidebar ul .item-sidebar:last-child {
    position: relative;
    bottom: 0;
    margin-top: auto;
}


/*SIDEBAR-END-CODE*/
/*SIDEBAR-QUERIES-START*/
@media screen and (max-width:950px){
    .sidebar-wrapper{
        display: block;
        
    }
    .header__container-content{
        justify-content: start;
    }
}
/*SIDEBAR-QUERIES-END*/