:root {
    --product-element: #0003;
    --product-element-hover: #888;
    --product-element-active: #0007;
    --box-product-id: #000f;
    --id-select:#fff;
    --color-id-select:#000;
    --button-buy: #5c8;
    --bg-color: #0005;
    --id-color:#fff;
    --send-button:#111;
    --send-button-hover:#888;
}
*{
    font-family: "Poppins", "Montserrat", "my-font", "sans-serif";
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-wrapper {
    background-color: var(--bg-color);
    width: clamp(300px, 100%, 1900px);
    min-height: 100vh;
}

.main-wrapper__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: max-content;
    padding: 25px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.box-product {
    background-color: var(--product-element);
    display: flex;
    flex-direction: column;
    padding: 2.2rem 2rem 3rem 2rem;
    border-radius: 3.5rem;
    align-items: center;
    position: relative;
    transition: transform .8s, opacity .8s;
    margin: auto;
    width: 100%;
    min-height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 15px black;
    color: white;
    user-select: none;
}


.box-product p{
    text-align: center;
}


.box-product:active {
    background-color: var(--product-element-active);
}


.item-select {
    background-color: var(--product-element-active);
}

.box-product__id {
    position: absolute;
    background-color: var(--box-product-id);
    color: var(--id-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 5px black;
}
.id-select{
    background-color: var(--id-select);
    color: var(--color-id-select);
}

.box-product__img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    object-fit: cover;
}
.box-product__title{
    font-weight: 750;
    text-decoration: underline;

}
.box-product__text {
    font-weight: 500;
}
.box-product__container-text{
    border-top: 1px solid black;
    width: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-product__container-img{
    border-bottom: 1px solid black;
    width: 110%;
}

.form-buy {
    width: 100%;
    height: max-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.send-button {
    width: clamp(250px, 40%, 800px);
    padding: 10px 0;
    background-color: var(--send-button);
    border: 2px solid var(--send-button-hover);
    transition: border 0.5s, background 0.5s, color 0.5s;
    font-size: 1.5rem;
    border-radius: 20px;
    color: #eee;
}

.send-button:hover {
    background-color: var(--send-button-hover);
    border: 2px solid var(--send-button);
    color: #000;
}

.button-select{
    background-color: #444;
    color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 2.2rem;
}