@import url('../fonts/fonts.css');
:root{
    --color-0:#CCFFC0;
    --color-1:#D5F1DF;
    --color-2:#A0DFB6;
    --color-3:#5FC984;
    --color-4:#36A05B;
    --color-5:#216238;
    --color-6:#1C5430;
    --color-7:#1B502E;
    --color-8:#164125;
    --color-9:#0F2E1A;
    --color-a:#0A1F11;
    --color-bg: #fff;
    --width-logo: clamp(200px, 225px, 250px);
    --color-a-navbar:#c4ff9e;
    --color-a-navbar-hover:#74ff5e;
    --bg-header: #2c5920;
    --bg-sidebar-item-hover:#494;
    --bg-button:#5b663d;
    --color-arrow-button:#1c4530;
    --bg-main-window:#6b6c;
    --bg-main-window__secondary:#3b3c;
}
*{
    box-sizing: border-box;
    font-family: "Montserrat", "my-font", "sans-serif";
}

html{
    background-color: var(--color-bg);
    margin: -8px;
}
.section_welcome-user{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.section_welcome-user a, .section_welcome-user .arrow-down{
    z-index: 2;
}

.welcome-user__container {
    min-width: clamp(250px, 30vw, 800px); 
    height: clamp(250px, 30vw, 800px);
    padding: 10px;
    border-radius: 50%;
    animation: button-center 1s infinite alternate ease-in-out;
    transform: scale(1);
    transition: transform .5s;
}
.welcome-user__container:hover {
    transform: scale(1.2);
}
.container__svg__defs .stop1 {
    stop-color: var(--color-5);
    stop-opacity: 1;
}
.container__svg__defs .stop2 {
    stop-color: var(--color-3);
    stop-opacity: 1;
}

path{
    stroke: url(#gradient); 
    stroke-width: .1; 
    fill: url(#gradient); 
}

.arrow-down{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    color: var(--color-4);
    animation: arrow-down 1.2s infinite;
}
.arrow-down::after, .arrow-down::before{
    content: "";
    height: .3rem;
    top: -.5rem;
    width: 3rem;
    background-color: var(--color-4);
    position: absolute;
    animation: arrow-down 1.2s infinite;
}
.arrow-down::after{
    width: 4rem;
    top: -1.4rem;
}
@keyframes arrow-down {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes button-center{
    0%{
        box-shadow: 0px 0px 20px 5px var(--color-5);
        background-color: var(--color-2);
    }
    100%{
        box-shadow: 0px 0px 100px 5px var(--color-5);
        background-color: var(--color-1);
    }
}

.background {
    width: clamp(250px, 100%, 1900px);
    height: 100vh;
    background-image: url(../img/background-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    position: fixed; 
    z-index: -100; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 1;
}
/*MAIN-START-CODE*/
main{
    padding: 0;
    
}
.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    margin-top: 80px;
}
.main-windows {
    width: clamp(300px, 100%, 1900px);
    min-height: 100vh;
    background-color: var(--bg-main-window);
    color: #000;
    font-size: 1em;
    padding: 10px 30px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(1,100%);
    gap: 5px;
}
.main-windows:first-child {
    margin-top: -80px;
}
.main-windows:nth-child(2n) {
    background-color: var(--bg-main-window__secondary)
}
.main-windows__part{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}
.container-slider-img {
    position: relative;
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.container-slider-img__inner {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
}
.container-slider-img__picture {
    flex:0 0 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.container-slider-img__picture img,
.container-slider-img__picture source {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 50px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000a;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    transition: background .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.slider-btn:hover {
    background: #000;
}
.prev-btn { 
    left: 10px; 
}
.next-btn { 
    right: 10px; 
}
.container-main-text {
    position: relative;
    height: clamp(40vh, 50vh, 100vh);
    display: flex;
    align-items: center;
    padding: 5px 6%;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.container-main-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    background-color: #000;
    z-index: -1;
    border-radius: inherit;
}
.container-main-text__text{
    color: #fff;
    letter-spacing: 1px;
    filter:drop-shadow(1px 0 1px black);
    font-weight: 650;
}
@media screen and (max-width:950px){
    .main-windows{
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(1,100%);
    }
}
/*MAIN-END-CODE*/
