@import url('../fonts/fonts.css');
:root{
    --color-0:#ECFFE0;
    --color-1:#D5F1DF;
    --color-2:#A0DFB6;
    --color-3:#5FC984;
    --color-4:#36A05B;
    --color-5:#216238;
    --color-6:#1C5430;
    --color-7:#1B502E;
    --color-8:#164125;
    --color-9:#0F2E1A;
    --color-a:#0A1F11;
    --color-bg: #fff;
    --width-logo: clamp(200px, 225px, 250px);
    --color-a-navbar:#ffffff;
    --bg-button:#5b663d;
    --bg-sidebar:#9fb36c;
}
*{
    box-sizing: border-box;
    font-family: "Montserrat", "my-font", "sans-serif";
    cursor: none;
}
body,div,input,main,nav,ul,li,section,footer,aside,picture,figure{
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden;
    background-color: var(--color-bg);
}
.c-cursor {
    --size: 20px;
    position: fixed;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
    pointer-events: none;
    transition: none;
    z-index: 1000;
    will-change: transform;
}
.c-cursor__inner {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    transform: scale(1) translateZ(0);
}
.is-clicked .c-cursor__inner{
    opacity: .5;
}
.is-hidden .c-cursor__inner{
    opacity: 0;
}
.is-link-hovered .c-cursor__inner{
    transform: scale(.75) translateZ(0);
    background-color: #36A05B;
}
.background {
    width: clamp(250px, 100%, 1900px);
    height: 100vh;
    background-image: url(../img/background-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    position: fixed; 
    z-index: -10; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 1;
}
/*HEADER START-CODE*/
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #6a8;
    z-index: 10;
}
.header-wrapper{
    width: clamp(250px, 100vw, 1900px);
    display: grid;
    grid-template-areas: 
    "logo content-header content-header content-header content-header"
    "logo nav-search nav-search nav-search nav-search";
    padding: 0 5px;
}
.header__container-content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 8px;
    gap: 5px;
}
.logo-container{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-picture source, .logo-picture img{
    width: 150px;
    filter: drop-shadow(0 0 15px #999);
}
.search-nav{
    grid-area: nav-search;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-nav form{
    padding: 8px 90px;
    border-radius: 10px;
    min-width: max-content;
    display: flex;
    align-items: center;
}
.menu-navbar-container {
    grid-area: content-header;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.menu-navbar-container .menu-navbar-container__ul {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 100%;
    gap: 5px;
}
.container__division-ul__list{
    list-style: none;
    width: 100%;
    height: 100%;
}
.navbar-items-list{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}
.navbar-item {
    min-width: 80px;
    display: flex;
    text-align: center;
    border-radius: 7px;
    color: var(--color-a-navbar);
    text-transform: uppercase;
}
.navbar-item a:hover{
    opacity: .5;
}
.navbar-item a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-a-navbar);
    justify-content: center;
    flex:1;
}
/*HEADER-END-CODE*/
/*HEADER-QUERIES-START*/
@media screen and (max-width:950px){
    .menu-navbar-container{
        display: none;
    }
}
/*HEADER-QUERIES-END*/
/*SIBAR-NAV-START-CODE*/
#open-menu, .sidebar-wrapper{
    display: none;
}
.sidebar-wrapper:has(#open-menu:checked) .sidebar{
    animation: sidebar-open .4s linear both;
}
.sidebar-wrapper:has(#open-menu:not(:checked)) .sidebar{
    animation: sidebar-close .4s linear both;
    animation-delay: -.5s;
}
#open-menu:checked ~ .open-button {
    display: none;
}
#open-menu:not(:checked) ~ .close-button {
    display: none;
}
.close-button{
    transform: rotate(180deg);
}
.open-button,
.close-button {
    background-color: var(--bg-button);
    position: absolute;
    right: 0;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    top: -1px;
    user-select: none;
    font-size: 2rem;
    top: 48dvh;
    box-shadow: 7px -3px 5px #000;
}
#open-menu:checked ~ .close-button{
    animation: button-movement-close .41s linear both;
}
#open-menu:not(:checked) ~ .open-button{
    box-shadow: -7px 3px 5px #000;
    animation: button-movement-open .41s linear both;
    animation-delay: -.5s;
}
.sidebar {
    position: fixed;
    width: clamp(300px, 30vw, 900px); 
    right: clamp(-300px, -30vw, -900px);
    justify-content: right; 
    min-height: 100dvh;
    margin-top: -6px;
    background-color: var(--bg-sidebar);
    border-radius: 90px 0 0 90px;
    padding: 40px 20px 40px 0;
    box-shadow: -7px 3px 5px #000;
    overflow-y: auto;
}
@keyframes button-movement-close {
    0%{
        right:-15px;
    }
    100%{
        right: clamp(270px, 29vw, 900px);
    }
}
@keyframes button-movement-open {
    0%{
        right: clamp(270px, 29vw, 900px);
    }
    100%{
        right: -15px;
    }
}
@keyframes sidebar-open {
    0%{
        right: clamp(-300px, -30vw, -900px);
    }
    100%{
        right: 0;
    }
}
@keyframes sidebar-close {
    0%{
        right:0;
    }
    100%{
        right: clamp(-300px, -30vw, -900px);
        box-shadow: none;
    }
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 91dvh;
}
.item-sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    transition: background-color .09s ease;
}
.item-sidebar:first-child{
    border-top-left-radius: 20px;
}
.item-sidebar:last-child{
    border-bottom-left-radius: 20px;
}
.item-sidebar:hover{
    background-color: var(--color-bg);
}
.list-property-size{
    padding: 5px 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.list__icon {
    justify-content: right;
    padding: 0px 0 9px 0;
    min-width: 0;
}
.list__option-text {
    justify-content: left;
    padding-left: 20px;
    min-width: 0;
}
.content-list {
    height: 100%; 
    width: max-content;
    text-decoration: none;
    font-size: 1.5rem;
}
.sidebar ul .item-sidebar:last-child {
    position: relative;
    bottom: 0;
    margin-top: auto;
}


/*SIDEBAR-END-CODE*/
/*SIDEBAR-QUERIES-START*/
@media screen and (max-width:950px){
    .sidebar-wrapper{
        display: block;
        
    }
    .header__container-content{
        justify-content: start;
    }
}
/*SIDEBAR-QUERIES-END*/
/*MAIN-START-CODE*/
main{
    margin-left: -.1px;
    padding: 0;
}
.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.main-windows {
    width: clamp(250px, 100%, 1900px);
    min-height: 100dvh;
    padding: 20px; 
    background-color: #9b9d;
    color: #000;
    font-size: 1em;
    padding: 10px 15%;
    padding-top: 90px;
    view-timeline-name: --reveal;
    animation-name: show-scroll;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 20%;
}
.main-windows:first-child {
    margin-top: -80px;
}
.main-windows:nth-child(2n) {
    background-color: #7b7d;
}
@keyframes show-scroll {
    0% {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}


/*MAIN-END-CODE*/